{% extends "base.html" %}

{% block title %}
Admin - El Muladar
{% endblock %}

{% block content %}
<!-- begin page content -->

<p><b>Pagina delarchivo pun.</b></p>


	<a href="{% url 'banda:index' %}?extranjera=true">Muestra todas las bandas (incluyendo extranjeras)</a> <br>
	<a href="{% url 'lanzamiento:index' %}?no_visible=true&no_disponibles=true">Muestra todos los lanzamientos (incluyendo no visibles)</a> <br>
	<a href="{% url 'publicacion:index' %}?no_visible=true">Muestra todas las publicaciones (incluyendo no visibles)</a> <br>
	<a href="{% url 'conciertos:index' %}?no_visible=true">Muestra todos los conciertos (incluyendo no visibles)</a> <br>
	<a href="{% url 'banda:create' %}">Crear Banda</a> <br>
	<a href="{% url 'lanzamiento:create' %}">Crear Lanzamiento</a> <br>
	<a href="{% url 'publicacion:create' %}">Crear Publicacion</a> <br>
	<a href="{% url 'conciertos:create' %}">Crear Concierto</a> <br>
	<a href="{% url 'entrada:create' %}">Crear nueva entrada a Blog/Noticias</a> <br>
	<a href="{% url 'archivo:lista' %}">Lista Completa</a> <br>
  


<!-- end page content -->

{% endblock %}
