{% extends "base.html" %}

{% block title %}
Contacto - El Muladar
{% endblock %}

{% block ogtitle %}
Contacto - El Muladar
{% endblock %}

{% block content %}
<div class="center-justified">

<p><b>Contacto</b></p>

<p>
¿Encontró algún dato que está mal? ¿Tiene algún disco que aún no está acá? ¿Nos quiere mentar la madre por casposos (<a href="https://www.youtube.com/watch?v=0la5DBtOVNI" target="_blank">si puede por favor evítelo</a>)?<br>
Por favor, contáctenos acá:
</p>

<a href="mailto:elmuladararchivo@gmail.com">elmuladararchivo@gmail.com</a>

</div>

{% endblock %}