
{% extends "base.html" %}

{% load publicacion_filters %}
{% load static %}

{% block content %}
<p><h1>{{ publicacion.nombre }} 
	{% if publicacion.numero %}
		{{ publicacion.numero }} 
	{% endif %}
	({{ publicacion.fecha }})</h1><p>

<p>
{% if publicacion.imagen %}
	<a href="{{ publicacion.imagen.url }}"><IMG class = 'view-na' SRC="{{ publicacion.imagen.url | add_suffix }}"></IMG></a>
{% else %}
	<img class = 'view-image' src="{% static 'archivo/placeholder.gif' %}" ALIGN="RIGHT">
{% endif %}
</p>

{% if publicacion.notas %}
	<h3>Notas</h3>
	{{ publicacion.notas | linebreaksbr }}
{% endif %}


<hr>

{% if publicacion.link %}
	<a href="{{publicacion.link}}">Link de descarga</a>
{% else %}
	¡No hay link disponible!
{% endif %}

<br>
<p class="gray">Id de referencia: {{ publicacion.indice_referencia }}</p>


{% if user.is_authenticated %}
	<div align="right">
		<h5>
			<a href="{% url 'publicacion:edit' publicacion.nombrecorto %}">Editar</a>|
			<a href="{% url 'publicacion:delete' publicacion.nombrecorto %}">Borrar</a>
		</h5>
	</div>
{% endif %}

{% endblock %}